body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 20px;
    position: relative;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellowgreen;
}

nav img {
    position: absolute;
    top: 5px;
    right: 5px;
}